<h3>Suggestions</h3>
<div>
    <ul>
        <li *ngFor="let suggestion of suggestions"
            [class.selected]="suggestion === selectedSuggestion"
            (click)="onSelect(suggestion)"
            style="cursor: pointer;" >
            {{suggestion.name}}, ${{suggestion.price}}
        </li>
    </ul>
</div>
<div *ngIf="suggestions!==undefined && suggestions.length > 3; 
            else lessSuggestions"> 
    There are MORE than 3 suggestions
</div>

<ng-template #lessSuggestions>
    <div>
        There are LESS than 3 suggestions
    </div>
</ng-template>

<div *ngIf="selectedSuggestion">
    <h4>Suggestion {{selectedSuggestion.name | uppercase}} is selected</h4>
</div>